name: Execute CI-pipeline for mdegraphlib
on: 
  push:
permissions:
  checks: write
  pull-requests: write
jobs:
  execute-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "8.10"
      - name: Compile 
        run: ./gradlew classes
      - name: Run Unit Tests
        run: ./gradlew test
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            build/resports/tests-xml/**.xml
